doctype html

html
  head
    meta(charset='utf-8')
    title FlappyMarc

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/phaser.min.js')
    script(src='/javascripts/main.js')
  body
    div#game_div

